<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.corcow.hw.hwlayoutsample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Baemin"
            android:label="배달의 민족"
            android:theme="@style/BaeminStyle" >
        </activity>
        <activity
            android:name=".LezhinComics"
            android:label="레진코믹스"
            android:theme="@style/LezhinStyle" >
        </activity>
        <activity
            android:name=".PlayStore"
            android:theme="@style/NotitleStyle"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
